.slider {
  &__bar {
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: #000;
    display: flex;
    justify-content: center;
  }
  &__bar-inner {
    width: 90%;
    position: relative;
    transform: translateX(-6px);
  }
  &__handler {
    position: absolute;
    top: -100%;
    width: 14px;
    height: 14px;
    border: 2px solid #000000;
    background-color: #fff;
    border-radius: 50%;
    transform: translateY(-1px);
    cursor: pointer;
    &--left {
      left: 0;
      &:hover {
        transform: translateY(-1px) scale(1.05);
        background-color: #ccc;
      }
    }
    &--right {
      left: 100%;
      transform: translateY(-1px);
      &:hover {
        transform: translateY(-1px) scale(1.05);
        background-color: #ccc;
      }
    }
  }
}