.result {
  margin-top: 34px;
  padding-left: 1rem;
  &__top {
    display: flex;
    align-items: baseline;
    padding-bottom: 30px;
  }
  &__title {
    @include ar-400;
    font-size: 2.8rem;
    line-height: 2.8rem;
    color: #000;
    padding-right: 35px;
  }
  &__text {
    @include os-400;
    font-size: 1.4rem;
    color: $b8;
    transform: translateY(-2px);
  }
  &__search-text--italic {
    font-style: italic;
  }
}
