@mixin ar-400 {
  font-family: Arial, sans-serif;
  font-weight: 400;
}
@mixin ar-700 {
  font-family: Arial, sans-serif;
  font-weight: 700;
}
@mixin os-400 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
@mixin os-700 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
@mixin rob-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
@mixin btn-acc {
  @include ar-700;
  text-transform: capitalize;
  font-size: 1.4rem;
  border-radius: 3px;
  background-color: $acc;  
  height: 40px;
  transition: all .2s;
  cursor: pointer;
  &:hover {
    filter: saturate(200%);
  }
}