@mixin ar-400 {
  font-family: Arial, sans-serif;
  font-weight: 400;
}
@mixin ar-700 {
  font-family: Arial, sans-serif;
  font-weight: 700;
}
@mixin os-400 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
@mixin os-700 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
@mixin rob-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}